.quest-slide-button {
  background: $twilight-sky;
  color: $cloud-whisper;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
  font-family: 'Pixelify Sans', sans-serif;
  border: none;
  &:hover {
    background: darken($twilight-sky, 5%);
  }
}

.scroll-wrapper {
  width: 90vw;
  max-width: 320px;
  height: 600px;
  background-image: image-url('scroll_frame.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 40px 200px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-content,
.custom-scroll-content {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  h3 {
    font-size: 1.1rem;
    color: $mountain-shadow;
    margin-bottom: 0.4rem;
  }

  p {
    font-size: 0.85rem;
    color: $summit-stone;
    margin-bottom: 0.3rem;
  }
}

.quest-img {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  img.quest-icon-img {
    max-height: 100%;
    max-width: 80%;
    object-fit: contain;
  }
}


.header-row {
  position: relative;
  z-index: 10;
}
