<div class="alert alert-danger alert-dismissible fade show" role="alert">
  User not found or already added as friend
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
