<% if user_class&.level.present? %>
  <div class="character-level">Lvl: <%= user_class.level %></div>

  <div class="xp-bar-wrapper">
    <div class="xp-bar" style="width: <%= user_class.xp_progress_percentage %>%"></div>
  </div>
<% else %>
  <div class="character-level">No class selected</div>
  <div class="xp-bar-wrapper">
    <div class="xp-bar" style="width: 0%"></div>
  </div>
<% end %>
