<div class="offer-card d-flex justify-content-between align-items-center" data-bs-toggle="modal" data-bs-target="#monk-3">
      <div class="d-flex align-items-center">
        <div class="offer-image">
          <img src="<%= asset_path("chest.png") %>" alt="Chest" class="img-fluid">
        </div>
        <div class="offer-details">
          <h4 class="mb-0"><strong>Balance Chest</strong></h4>
        </div>
      </div>
      <div class="offer-action">
        <h4 class="mb-0">LOCKED</h4>
      </div>
    </div>
    <div class="modal fade quest-modal" id="monk-3" tabindex="-1" aria-labelledby="modal-offer" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content quest-modal-content">
          <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">✕</button>
          <div class="reward-logo-wrapper">
            <%= image_tag "reward_logos/Lululemon.png", alt: "Logo", class: "reward-image" %>
          </div>
          <div class="reward-info">
            <h5 class="quest-title pb-2"><strong>15% off yoga mats and accessories to support your daily practice.</strong></h5>
            <div class="reward-description">
              <p class="m-0">Reach <strong>level 10</strong> to unlock this reward</p>
            </div>
          </div>
        </div>
      </div>
    </div>
