<div class="modal fade quest-modal" id="modal-offer_1" tabindex="-1" aria-labelledby="modal-offer_1" aria-hidden="true">
  <div class="modal-dialog modal-bottom">
    <div class="modal-content quest-modal-content">

      <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">✕</button>

      <div class="reward-logo-wrapper">
        <%= image_tag "warrior.png", alt: "Quest Icon", class: "quest-icon" %>
      </div>

      <div class="reward-info">
        <h5 class="reward-title">BasicFit</h5>
        <div class="reward-description">
          <p>Get 20% off for 1 month</p>
          <p>You need to reach level 20 to unlock this reward</p>
        </div>
      </div>
    </div>
  </div>
</div>
