<div class="modal fade quest-modal" id="modal-offer_1" tabindex="-1" aria-labelledby="modal-offer_1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content quest-modal-content">

      <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">✕</button>

      <div class="quest-icon-wrapper">
        <%= image_tag "BasicFit.png", alt: "Logo", class: "quest-icon" %>
      </div>

      <div class="reward-info">
        <h5 class="quest-title">20% off for 1 month!</h5>
        <div class="quest-description">
          <p>You need to reach level 6 to unlock this reward</p>
        </div>
      </div>
    </div>
  </div>
</div>
