<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div style="width: 400px; height: 860px; background-color: #FEF4DF ">
    <div style="width: 260px; height: 560px; background-color: #FFD066; box-shadow: 0 4px 16px rgba(0,0,0,0.12); border: none; border-radius: 12px; margin: 40px auto; position: absolute; bottom: 40px; left: 0; right: 0; padding-bottom: 40px;">
    </div>
  </div>
</div>
  