<div class="container" style="min-height: 100vh; background-image: url(<%= asset_path("forest_background.png") %>); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="container rewards-page">
    <div class="header-row">
      <%= link_to user_quests_path, class: "pixel-back-btn text-white" do %>
        <i class="fa-solid fa-arrow-left"></i> <span>Back</span>
      <% end %>
    </div>
    <div class="mt-5">
      <h1 class="text-white"><strong>Special Offers</strong></h1>
      <div class="offer-card d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-offer_1">
          <div class="offer-image">
            <img src="<%= asset_path("chest.png") %>" alt="Chest" class="img-fluid">
          </div>
          <div class="offer-details">
            <h4 class="mb-0">Basic-Fit Deal</h4>
          </div>
        </div>
        <div class="offer-action">
          <h4 class="mb-0">LOCKED</h4>
      </div>
    </div>
    <%= render "reward_modal_1" %>
  </div>
</div>
