<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div style="width: 400px; height: 860px; background-image: url(<%= asset_path('welcome_backgroung.png') %>); background-size: cover; background-position: center; border-radius: 12px; box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); overflow: hidden;">
    <h1 style="font-family: 'Pixelify Sans', sans-serif; font-size: 3.3rem; text-align: center; width: 100%; padding-top: 140px;">Questlog</h1>
    <div style="position: absolute; bottom: 70px; left: 0; width: 100%; display: flex; justify-content: center;">
      <button type="button" class="btn btn-secondary" style="background-color: white; color: black; font-family: 'Pixelify Sans', sans-serif; font-size: 2.5rem; padding: 0.2rem 1.8rem;">Start</button>
    </div>
  </div>
</div>
