@keyframes glow {
  0% {
    box-shadow: 0 0 4px 1px rgba(255,224,102,0.4), 0 4px 12px rgba(0,0,0,0.10);
  }
  50% {
    box-shadow: 0 0 12px 4px rgba(255,224,102,0.5), 0 4px 12px rgba(0,0,0,0.13);
  }
  100% {
    box-shadow: 0 0 4px 1px rgba(255,224,102,0.4), 0 4px 12px rgba(0,0,0,0.10);
  }
}

.offer-card {
  background-color: #FFD066;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13), 0 1.5px 4px rgba(0,0,0,0.10);
  padding: 16px;
  margin: 20px 0;
  color: rgb(106, 106, 106);
}

.unlocked-offer-card {
  background-color: #FFD066;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18), 0 1.5px 4px rgba(0,0,0,0.12);
  border: 2px solid #fff;
  padding: 16px;
  margin: 20px 0;
  color: rgb(106, 106, 106);
  animation: glow 1.5s infinite alternate;
}

.offer-image {
  width: 50px;
  height: auto;
  border-radius: 4px;
}

.offer-title {
  font-size: 1rem;
  margin: 0 0;
}

.offer-action h4 {
  font-size: 1rem;
  font-weight: bolder;
}

.offer-details h4 {
  font-size: 1.2rem;
  padding-left: 15px;
}

.offer-action h4,
.offer-details h4 {
  text-shadow: 0 1px 3px rgba(0,0,0,0.10);
}

.reward-logo-wrapper {
  margin: 1rem auto;
  border-radius: 0.5rem;
  display: inline-block;
}

.reward-description {
    font-size: 0.9rem;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 12px 18px;
    border-radius: 999px;
    background-color: rgba(132, 132, 132, 0.8);
    display: inline-block;
    margin-bottom: 0;
    font-family: "GNF";
  }

  .reward-description-unlocked {
  font-size: 0.9rem;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 12px 18px;
  border-radius: 999px;
  background-color: $twilight-sky;
  display: inline-block;
  margin-bottom: 0;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}
