<div id="confirmModal" class="custom-confirmation-modal hidden">
  <div class="modal-content">
    <h5 class="modal-title">Are you sure?</h5>
    <p id="confirmMessage">Do you really want to delete this quest?</p>
    <div class="modal-buttons">
      <button type="button" class="btn cancel" id="cancelConfirm">Cancel</button>
      <button type="button" class="btn confirm" id="confirmAction">Delete</button>
    </div>
  </div>
</div>
